body {
    background-image: url('Background_tile.png');
    margin: 0;
    font-family: 'Agency FB', sans-serif;
    font-weight: bold;
    color: #7E7FB0;
    text-shadow:
     1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    -1px 0px 0 white,
    1px 0px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    -1px 0px 0 white,
    1px 0px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
}

.column {
    width: 32.5%;
    height: 100vh;
    float: left;
}

.column:not(:last-child) {
    margin-right: 0.7%;
}

.column.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.token-tray {
    position: absolute;
    margin-left: 1%;
    width: 64%;
    height: 13%;
}

.card-tray {
    margin: 1%;
    padding: 1%;
    width: 96%;
    height: 24%;
    border: #EFFFC6 1px;
    border-style: solid none;
    overflow-x: auto;
    overflow-y: hidden;
}

.fixed-card-container {
    width: 100%;
    display: block;
    height: 100%;
    overflow-y: auto;
}

.fixed-card-container > div {
    width: 32.5%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    /*max-height: 28%;*/
}

.fixed-card-slot {
    border: #EFFFC6 solid 1px;
    box-shadow: inset 1px 1px 10px #EFFFC6;
    border-radius: 1vw;
    overflow: hidden;
    margin: 1%;
    padding: 3% 1% 1% 1%;
    width: 96%;
    height: 96%;
}

.blue .fixed-card-slot {
    border-color: #7E7FB0;
    box-shadow: inset 1px 1px 10px #7E7FB0;
}

.fixed-card-slot img {
    width: 18.5vh;
    max-width: 94%;
    max-height: 96%;
}

.fixed-card-slot div {
    overflow: hidden;
    margin-top: -3%;
}

.fixed-card-slot div:not(:first-child) img {
    margin-top: -48%;
}

.modifier {
    position: absolute;
    height: 4%;
    bottom: 15%;
}

.modifier img {
    height: 100%;
}

.card-tray > div {
    height: 100%;
    white-space: nowrap;
}

.card-tray > div > div {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    /*float: left;*/
    border-radius: 0.5vw;
    overflow: hidden;
}

.card-tray > div > div img {
    height: 100%;
}

/*.card-tray div:first-child:nth-last-child(5) ~ div {
	margin-left: -6%;
}

.card-tray div:first-child:nth-last-child(5) img,
.card-tray div:first-child:nth-last-child(5) ~ div img {
	margin-left: -10%;
}*/

.token-tray img {
    max-height: 100%;
}

.token-tray div {
    height: 100%;
}

.well {
    display: inline-block;
    position: relative;
}

.well div {
    box-shadow: inset 1px 1px 10px black;
    border-radius: 5px;
    background-color: #939294;
    opacity: 0.7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.well img, .well span {
    height: 100%;
    position: relative;
}

.movement-well span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 
    1px 1px 0 #5A5A5C,
    -1px 1px 0 #5A5A5C,
    1px -1px 0 #5A5A5C,
    -1px -1px 0 #5A5A5C,
    0px 1px 0 #5A5A5C,
    0px -1px 0 #5A5A5C,
    -1px 0px 0 #5A5A5C,
    1px 0px 0 #5A5A5C,
    2px 2px 0 #5A5A5C,
    -2px 2px 0 #5A5A5C,
    2px -2px 0 #5A5A5C,
    -2px -2px 0 #5A5A5C,
    0px 2px 0 #5A5A5C,
    0px -2px 0 #5A5A5C,
    -2px 0px 0 #5A5A5C,
    2px 0px 0 #5A5A5C,
    1px 2px 0 #5A5A5C,
    -1px 2px 0 #5A5A5C,
    1px -2px 0 #5A5A5C,
    -1px -2px 0 #5A5A5C,
    2px 1px 0 #5A5A5C,
    -2px 1px 0 #5A5A5C,
    2px -1px 0 #5A5A5C,
    -2px -1px 0 #5A5A5C;
}

.movement-well img {
    opacity: 0;
}

#operationsContainer {
    font-size: 3em;
    margin: 1%;
    overflow-y: auto;
}

#operationsContainer .well {
    display: block;
    width: 98%;
    padding: 1%;
    margin-bottom: 1%;
}

#operationsContainer .well div {
    background-color: #1A1D4A;
    box-shadow: inset 1px 1px 10px #EFFFC6;
}

#operationsContainer .well span {
    padding-left: 0.25em;
}